/* CalendarStyles.css */
.react-calendar {
    width: 350px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    line-height: 1.125em;
  }
  
  .react-calendar__tile--active,
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #00BFFF;
    color: white;
  }
  
  .table-container {
    max-height: 300px; /* Altura máxima para el contenedor de la tabla */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
  }