.sidebar-column {
    background-color: #f0f0f0; /* Color de fondo para el sidebar */
    padding: 20px; /* Espaciado interior */
    height: 100vh; /* Altura completa */
  }
  

.times-list .card-body {
  overflow-y: auto;
  max-height: 400px; /* Ajusta esto según la altura deseada */
}
.table-scroll {
  max-height: 400px; /* Ajusta esta altura según lo que necesites */
  overflow-y: auto;  /* Activa el desplazamiento vertical */
}